body {
  margin: 0;
}

.flex {
  display: flex;
}

.header {
  justify-content: space-between;
}

ul {
  list-style: none;
}

.listed-items {
  display: flex;
  gap: 1.5em;
}

.top-section {
  background-image: url("/bg.jpg");
}

.hero-img {
  width: 400px;
  height: 400px;
}